<!DOCTYPE html>
<html ng-app="app">
<head>
    <!--Features For IE-->
    <meta http-equiv="Cache-Control" content="no-cache">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/jslibraries/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/jslibraries/dialog/dialogs.min.css" />
    <link rel="stylesheet" href="/jslibraries/progressbar/loading-bar.min.css"/>
</head>
<body>

<header>
    <nav class="navbar navbar-default" ng-controller="NavBarController" ng-show="showNavBar" >
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">Patient card</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="!email"><a href="#!/login"><i class="fa fa-shield"></i> Login</a></li>
                    <li ng-if="email" class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{email}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="" ng-click="logoutUser()">log out</a></li>
                        </ul>
                    </li>

                    <li><a href="#!/"><i class="fa fa-shield"></i>Home</a></li>
                    <li class="dropdown">
                        <a id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Management
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#!/doctors">Doctors</a></li>
                            <li><a href="#!/patients">Patients</a></li>
                            <li><a href="#!/nurses">Nurses</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<div ng-view>
</div>
</body>
</html>

<script type="text/javascript" src="/jslibraries/jQuery/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/jslibraries/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

<script type="text/javascript" src="/jslibraries//angular-1.6.2/angular.min.js"></script>
<script type="text/javascript" src="/jslibraries/angular-1.6.2/angular-resource.min.js"></script>
<script type="text/javascript" src="/jslibraries/angular-1.6.2/angular-route.min.js"></script>
<script type="text/javascript" src="/jslibraries/angular-1.6.2/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script type="text/javascript" src="/jslibraries/angular-1.6.2/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/jslibraries/angular-1.6.2/ngStorage/ngStorage.js"></script>
<script type="text/javascript" src="/jslibraries/angular-1.6.2/angular-translate.js"></script>
<script type="text/javascript" src="/jslibraries/Chart.js"></script>
<script type="text/javascript" src="/jslibraries/angular-chart.js"></script>
<script type="text/javascript" src="/jslibraries/dialog/dialogs.min.js"></script>
<script type="text/javascript" src="/jslibraries/dialog/dialogs-default-translations.min.js"></script>
<script type="text/javascript" src="/jslibraries/progressbar/loading-bar.js"></script>



<script type="text/javascript" src="/app/app.js" charset="utf-8"></script>
<script type="text/javascript" src='/app/user/LoginController.js' charset="utf-8"></script>
<script type="text/javascript" src='/app/user/LoginService.js' charset="utf-8"></script>
<script type="text/javascript" src='/app/NavBarController.js' charset="utf-8"></script>

<script type="text/javascript" src='/app/doctor/DoctorsController.js' charset="utf-8"></script>
<script type="text/javascript" src="/app/doctor/DoctorService.js" charset="utf-8"></script>

<script type="text/javascript" src='/app/nurse/NurseController.js' charset="utf-8"></script>
<script type="text/javascript" src="/app/nurse/NurseService.js" charset="utf-8"></script>

<script type="text/javascript" src='/app/patient/PatientsController.js' charset="utf-8"></script>
<script type="text/javascript" src="/app/patient/PatientService.js" charset="utf-8"></script>
<script type="text/javascript" src="/app/patient/DetailsController.js" charset="utf-8"></script>


