<div class="row">
    <form class="form-horizontal">
        <div class="col-md-6">
            <fieldset>
                <legend>Add patient</legend>
                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="name" placeholder="Name" type="text"
                               ng-model="newPatient.firstName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="surname" class="col-lg-2 control-label">Surname</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="surname" placeholder="Name" type="text"
                               ng-model="newPatient.lastName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Date of birth</label>
                    <div class="col-md-4">
                        <p class="input-group" class="col-lg-10">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                   ng-model="newPatient.dayOfBirth" is-open="popup1.opened"
                                   datepicker-options="dateOptions" ng-required="true" close-text="Close"
                                   alt-input-formats="altInputFormats"/>
                            <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputEmail" placeholder="Email" type="text"
                               ng-model="newPatient.email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input class="form-control" id="inputPassword" placeholder="Password" type="password"
                               ng-model="newPatient.password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary" ng-click="addPatient()">Save</button>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset>
                <legend><br/></legend>
                <div class="form-group">
                    <label for="description" class="col-lg-2 control-label">Description</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="description"
                                  ng-model="newPatient.description"></textarea>
                        <!--<span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Date of departure</label>
                    <div class="col-md-4">
                        <p class="input-group" class="col-lg-10">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                   ng-model="newPatient.dayOfDeparture" is-open="popup2.opened"
                                   datepicker-options="dateOptions" ng-required="true" close-text="Close"
                                   alt-input-formats="altInputFormats"/>
                            <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open2()"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary" ng-click="addPatient()">Save</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>

</div>
<div class="row">
    <form class="form-horizontal">
        <div class="col-md-6">
            <fieldset>
                <div class="form-group">
                    <label for="name" class="col-lg-2 control-label">Choose doctors</label>
                    <div class="col-lg-10">
                        <multiple-autocomplete
                                ng-model="newPatient.doctors"
                                object-property="fullName"
                                suggestions-arr="allDoctors">
                        </multiple-autocomplete>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary" ng-click="addPatient()">Save</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>