<div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="!#home" aria-controls="home" role="tab"
                                                  data-toggle="tab">Details</a></li>
        <li role="presentation"><a href="!#observations" aria-controls="observations" role="tab"
                                   data-toggle="tab">Observations</a></li>
        <li role="presentation"><a href="!#medicines" aria-controls="medicines" role="tab"
                                   data-toggle="tab">Medicines</a></li>
        <li role="presentation"><a href="!#temperature" aria-controls="temperature" role="tab"
                                   data-toggle="tab">Temperature</a></li>
        <li role="presentation"><a href="!#pressure" aria-controls="pressure" role="tab"
                                   data-toggle="tab">Pressure</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="panel panel-default">
                <div class="panel-body">
                    Details
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="observations">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <a href="">New</a>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="!#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Collapsible Group Item #1
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="!#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Collapsible Group Item #2
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="!#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Collapsible Group Item #3
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="medicines">
            <div class="panel panel-default">
                <div class="panel-body">
                    Medicines
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="temperature">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <canvas id="line" class="chart chart-line" chart-data="temperatureChart.data" style="height: 300px; width: 700px;"
                                chart-labels="temperatureChart.labels" chart-series="temperatureChart.series" chart-options="temperatureChart.options"
                                chart-dataset-override="temperatureChart.datasetOverride" chart-click="onClick">
                        </canvas>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading"><a href="">Add temperature </a></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Day</th>
                                        <th>Temperature</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="t in temperatureTable">
                                        <td>{{t.day}}</td>
                                        <td>{{t.temperature}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="pressure">
            <div class="panel panel-default">
                <div class="panel-body">
                    Pressure
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br/>