<div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="!#home" aria-controls="home" role="tab"
                                                  data-toggle="tab">Details</a></li>
        <li role="presentation"><a href="!#observations" aria-controls="observations" role="tab"
                                   data-toggle="tab">Observations</a></li>
        <li role="presentation"><a href="!#medicines" aria-controls="medicines" role="tab"
                                   data-toggle="tab">Medicines</a></li>
        <li role="presentation"><a href="!#temperature" aria-controls="temperature" role="tab"
                                   data-toggle="tab">Temperature</a></li>
        <li role="presentation"><a href="!#pressure" aria-controls="pressure" role="tab"
                                   data-toggle="tab">Pressure</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <form class="form-horizontal">
                            <div class="col-md-6">
                                <fieldset>
                                    <!--<legend>Add patient</legend>-->
                                    <div class="form-group">
                                        <label for="name" class="col-lg-2 control-label">Name</label>
                                        <div class="col-lg-10">
                                            <input class="form-control" id="name" placeholder="Name" type="text"
                                                   ng-model="patient.firstName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="surname" class="col-lg-2 control-label">Surname</label>
                                        <div class="col-lg-10">
                                            <input class="form-control" id="surname" placeholder="Name" type="text"
                                                   ng-model="patient.lastName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Date of birth</label>
                                        <div class="col-lg-6">
                                            <p class="input-group">
                                                <input type="text" class="form-control"
                                                       datetime-picker="dd.MM.yyyy HH:mm"
                                                       ng-model="patient.dayOfBirth" is-open="popup1DetailPatient.opened" ng-disabled="disableInPatientDetails"/>
                                                <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                    ng-click="open1DetailPatient()" ng-disabled="disableInPatientDetails"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                            </p>
                                            <!--<pre><p>{{patient.dayOfBirth | date :  'dd.MM.yyyy hh:mm'}}</p></pre>-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                        <div class="col-lg-10">
                                            <input class="form-control" id="inputEmail" placeholder="Email" type="text"
                                                   ng-model="patient.email" ng-disabled="disableInPatientDetails">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset>
                                    <legend><br/></legend>
                                    <div class="form-group">
                                        <label for="description" class="col-lg-2 control-label">Description</label>
                                        <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="description"
                                  ng-model="patient.description" ng-disabled="disableInPatientDetails"></textarea>
                                            <!--<span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-lg-2 control-label">Date of adoption</label>
                                        <div class="col-lg-10">
                                            <pre>{{patient.dateOfAdoption | date :  'dd.MM.yyyy'}}</pre>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Date of departure</label>
                                        <div class="col-md-4">
                                            <p class="input-group" ng-disabled="disableInPatientDetails">
                                                <input type="text" class="form-control"
                                                       datetime-picker="dd.MM.yyyy HH:mm"
                                                       ng-model="patient.dateOfDeparture" is-open="popup2DetailPatient.opened" ng-disabled="disableInPatientDetails"/>
                                                <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                    ng-click="open2DetailPatient()" ng-disabled="disableInPatientDetails"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                            </p>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </form>

                    </div>
                    <div class="row">
                        <form class="form-horizontal">
                            <div class="col-md-6">
                                <fieldset>
                                    <div class="form-group" ng-show="showInPatientDetails">
                                        <label for="name" class="col-lg-2 control-label">Choose doctors</label>
                                        <div class="col-lg-10" ng-disabled="disableInPatientDetails">
                                            <multiple-autocomplete
                                                    ng-model="patient.doctors"
                                                    object-property="lastName"
                                                    suggestions-arr="allDoctors">
                                            </multiple-autocomplete>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-10 col-lg-offset-2">
                                            <button type="submit" class="btn btn-primary" ng-click="updatePatient(patient)">Update</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="observations">
            <div class="row">
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="" ng-click="addObservation()" ng-disabled="disableInPatientDetails" ng-show="showInPatientDetails">New</a>
                        <br/>
                        <div class="panel-group" id="accordion"
                             ng-repeat="observation in patient.observations | orderBy:'-zonedDateTime'">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="!#{{observation.id}}">
                                            Show {{observation.zonedDateTime | date :  'dd.MM.yyyy hh:mm'}}
                                        </a>
                                    </h4>
                                </div>
                                <div id="{{observation.id}}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        {{observation.description}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="medicines">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading"><a href="" ng-click="addMedicine()" ng-disabled="disableInPatientDetails" ng-show="showInPatientDetails">Add medicine </a></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Day</th>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="m in patient.medicines | orderBy:'-zonedDateTime'">
                                            <td>{{m.zonedDateTime | date :  'dd.MM.yyyy hh:mm'}}</td>
                                            <td>{{m.name}}</td>
                                            <td>{{m.quantity}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="temperature">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels"
                                chart-series="series" chart-options="options"
                                chart-dataset-override="datasetOverride" chart-click="onClick">
                        </canvas>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading"><a href="" ng-click="showDialogTemperature()" ng-disabled="disableInPatientDetails" ng-show="showInPatientDetails">Add temperature </a></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Day</th>
                                        <th>Temperature</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="t in patient.temperatures | orderBy:'-zonedDateTime'">
                                        <td>{{t.zonedDateTime | date :  'dd.MM.yyyy hh:mm'}}</td>
                                        <td>{{t.temperature}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="pressure">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading"><a href="" ng-click="addPressure()" ng-disabled="disableInPatientDetails" ng-show="showInPatientDetails">Add pressure </a></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>Day</th>
                                            <th>Pressure</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="p in patient.pressures | orderBy:'-zonedDateTime'">
                                            <td>{{p.zonedDateTime | date :  'dd.MM.yyyy hh:mm'}}</td>
                                            <td>{{p.pressureSystolic}}/{{p.pressureDiastolic}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br/>