<div class="col-md-3"></div>
<div class="col-md-6">
    <form class="form-horizontal">
        <fieldset>
            <legend>Add doctor</legend>
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input class="form-control" id="name" placeholder="Name" type="text" ng-model="newDoctor.firstName">
                </div>
            </div>
            <div class="form-group">
                <label for="surname" class="col-lg-2 control-label">Surname</label>
                <div class="col-lg-10">
                    <input class="form-control" id="surname" placeholder="Name" type="text"
                           ng-model="newDoctor.lastName">
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-2 control-label">Date of birth</label>
                <div class="col-lg-6">
                    <p class="input-group">
                        <input type="text" class="form-control"
                               datetime-picker="dd.MM.yyyy HH:mm"
                               ng-model="newDoctor.dayOfBirth" is-open="popup1.opened"/>
                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                    ng-click="open1()"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputEmail" placeholder="Email" type="text"
                           ng-model="newDoctor.email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input class="form-control" id="inputPassword" placeholder="Password" type="password"
                           ng-model="newDoctor.password">
                </div>
            </div>
            <div class="form-group">
                <label for="speciality" class="col-lg-2 control-label">Speciality</label>
                <div class="col-lg-10">
                    <input class="form-control" id="speciality" placeholder="Speciality" type="text"
                           ng-model="newDoctor.speciality">
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="description"
                              ng-model="newDoctor.description"></textarea>
                    <!--<span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                </div>
            </div>
            <div class="form-group">
                <label for="salary" class="col-lg-2 control-label">Salary</label>
                <div class="col-lg-10">
                    <input class="form-control" id="salary" placeholder="Salary" type="number" step="any"
                           ng-model="newDoctor.salary">
                    <!--<span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary" ng-click="addDoctor()">Save</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="col-md-3"></div>